.todos-list {
  background-color: var(--secondary-background-color);
  margin-top: 2rem;
}

.todo {
  padding: 1rem;
  border-radius: 5px;
  background-color: var(--secondary-background-color);
  position: relative;
  margin-bottom: 1px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    border-bottom: 1px solid var(--border-color);
  }

  .check {
    margin-right: 1rem;
  }

  p {
    margin-top: 5px;
    line-height: 1;
  }

  input[type="checkbox"]:checked + span {
    text-decoration: line-through;
    color: var(--muted-text-color);
  }

  .close{
    display: none;
    cursor: pointer;
  }

  &:hover .close {
    display: block;
  }
}
